/* header */
header {background-color: aqua;}
header .top_bnr_bg {background-color:#ccc;}
header .top_bnr_bg .top_bnr {}
header .top_bnr_bg .top_bnr a {}
header .top_bnr_bg .top_bnr a span {background-color: aquamarine;}
header #h_top {background-color: blueviolet;}
header #h_top h1 {}
header #h_top h1 a {}
header #h_top h1 a img {background-color: cadetblue;}
header #h_top .lnb_wrap {background-color: chartreuse;}
header #h_top .lnb_1 {background-color: chocolate;}
header #h_top .lnb_1 li {}
header #h_top .lnb_1 li a {}
header #h_top .user_menu {background-color: cornflowerblue;}
header #h_top .user_menu li {background-color: tomato;}
header #h_top .user_menu li a {}
header #h_top .user_menu li a img {}
nav {background-color:darkgreen ;}
nav ul {}
nav ul li {}
nav ul li a {}
/* main */
main {background-color: deeppink;}
/* main-배너1 */
main .main_bnr {background-color: darksalmon;}
main .main_bnr a {}
main .main_bnr a img {}
/* main-배너2 */
main .sub_bnr {background-color:hotpink;}
main .sub_bnr a {}
main .sub_bnr a img {}
/* main-상품영역*/
.weekly_best {background-color: green;}
.weekly_best > h2 {background-color: deepskyblue;}
.weekly_best ul {background-color: burlywood;}
.weekly_best ul li {}
.weekly_best ul li a {}
.weekly_best ul li .product_info {}
.weekly_best ul li .product_info h2 {}
.weekly_best ul li .product_info p {}
.weekly_best ul li .product_info p em {}
.weekly_best ul li .product_info .size_review {}
.weekly_best ul li .product_info .size_review span{}
.weekly_best ul li .product_info .product_badge span{}
.weekly_best ul li .product_info .product_badge span:first-child {}
.weekly_best ul li .product_info .product_badge span:last-child {}
/* main-sappun made */
.sappun_made_bg
.sappun_made_bg .sappun_made {}
.sappun_made_bg .sappun_made h2 {}
.sappun_made_bg .sappun_made a {}
/* 플로팅버튼 */
.flating_btn {}
.flating_btn a {}
.flating_btn a:first-child {}
.flating_btn a img {}
/* footer */
footer {}
footer .fnb {}
footer .fnb a{}
footer address {}